<h1>YardBay</h1>

<div class="itemView">
{{!-- <img src="{{item.picture}}"></img> --}}
<h3>{{item.name}}</h3><br>
<p>Starting Bid: {{item.starting}}, Current Bid: {{item.current}}</p><br>
<p>{{item.description}}</p><br>
<p>Date Listed: {{item.createdAt}}</p><br>
<p>Seller: {{item.lister}}</p><br>
</div>