<div class="itemView">
<h3>{{Item.name}}</h3><br>
<img src="{{Item.picture}}"></img>
<p>Starting Bid: {{Item.starting}}, Current Bid: {{Item.current}}</p><br>
<p>{{Item.description}}</p><br>
<p>Date Listed: {{Item.createdAt}}</p><br>
<p>Seller: {{Item.lister}}</p><br>
    <form id="makeBid">
        <input placeholder="Enter bid">
        <button id:'enterNewBid' action:'#'>Bid On Item</button>
    </form>
</div>
<aside id="sidebar">
    <h3>Update Item</h3><br>
      <form action="/" method="POST" class="item-form">
    <div class="input-field"> 
    <input name="updateName" type="text" placeholder="Name"/><br><br>
    <textarea name="updateItemDes" cols="30" rows="5" placeholder="Description"></textarea><br><br>
    <input type="submit" value="Update" class="btn"/><br><br>
    <a href="/listitem">List Item</a>
</aside>